.produtosContainer {
    font-family: "Poppins", sans-serif;
    height: calc(auto - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.produtosTitle {
    font-size: 82px;
    font-weight: bold;
    color: #0B1826;
    margin-top: 40px;
}

.produtosListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.produto {
    width: 400px;
    height: 650px;
    border-radius: 50px 50px 0 0;
    border: 4px solid #0B1826;
    position: relative;
}

.produtoTitleContainer {
    background-color: #0B1826;
    border-radius: 40px 40px 0 0;
}

.produtoTitle {
    
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 25px 0 25px 0;
}

.produtoValor {
    background-color: #fff;
    border-bottom: 4px dotted #0B1826;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0 25px 0;
    color: #0B1826;
}


.produtoInfo-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: nowrap;
    padding: 60px 0 0 25px;
}

.produtoOk {
    max-width: 20px;
    max-height: 20px;
}

.produtoInfo-item {
    font-size: 19px;
    display: flex;
    gap: 10px;
    color: #0B1826;
}

@media screen and (max-width: 1850px) {
    .produtosListContainer {
        gap: 20px
    }

    .produto {
        height: 650px;
        width: 350px
    }
}

@media screen and (max-width: 1550px) and (min-width: 1351px) {

    .produtosTitle {
        font-size: 60px;
    }

    .produto {
        width: 300px;
    }

    .produtoTitle {
        font-size: 32px;
    }

    .produtoValor {
        font-size: 32px;
    }

    .produtoInfo-item {
        font-size: 16px;
        padding-right: 20px;
        line-height: 19px;
    }
}

@media screen and (max-width: 1350px) {
    .produtosContainer {
        height: auto;
        padding-bottom: 80px;
    }

    .produtosTitle {
        font-size: 60px;
    }

    .produtosListContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .produtoTitle {
        font-size: 40px;
    }

    .produtoValor {
        font-size: 40px;
    }

    .produtoInfo-item {
        font-size: 19px;
    }

    .produto {
        width: 450px
    }
}

@media screen and (max-width: 1030px) {

    .produtosTitle {
        font-size: 45px;
    }
    .produtosListContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 1350px) {
    .produtosContainer {
        height: auto;
        padding-bottom: 80px;
    }

    .produtosTitle {
        font-size: 60px;
    }

    .produtosListContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .produtoTitle {
        font-size: 40px;
    }

    .produtoValor {
        font-size: 40px;
    }

    .produtoInfo-item {
        font-size: 19px;
    }

    .produto {
        width: 450px
    }
}
@media screen and (max-width: 1025px) {
    .produtosListContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 570px) {
    .produtosContainer {
        height: auto;
        padding-bottom: 80px;
    }

    .produtosTitle {
        font-size: 50px;
        text-align: center;
        margin: 60px 20px 0 20px;
    }

    .produtosListContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .produto {
        width: 350px
    }
}